<?xml version='1.0' encoding='utf-8'?>
<widget id="com.silvernet.silvertimetable" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SilverTimetable</name>
    <description>
        WZiIM timetable app
    </description>
    <author email="kontakt@silver.sggw.pl" href="http://silver.sggw.pl">
        KNI Silver.NET
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3f51b5" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^6.4.0" />
    <plugin name="phonegap-plugin-push" spec="^2.1.0">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>
    <plugin name="cordova-android-support-gradle-release" spec="^1.1.5">
        <variable name="ANDROID_SUPPORT_VERSION" value="26.+" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.3.0" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
</widget>
