<?xml version='1.0' encoding='utf-8'?>
<widget id="com.silvernet.silvertimetable" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SilverTimetable</name>
    <description>
        WZiIM timetable app
    </description>
    <author email="kontakt@silver.sggw.pl" href="http://silver.sggw.pl">
        KNI Silver.NET
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="phonegap-plugin-push" spec="^2.1.0">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>
</widget>
