@font-face{
    font-family: 'Roboto';
    src: url('./font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;   
}

body, html, .app-container{
    margin: 0;
    height: 100vh;
    font-family: 'Roboto'
}

.app-header{
    flex: 0.05;
    margin: 0;
}

.event-blocks-container{
    overflow-y: auto;      
    flex: 1;    
}

.app-container{    
    height: 100vh;   
    display: flex;
    flex-direction: column;
}

.main-page-container{
    flex: 1;  
    display: flex;
    flex-direction: column; 
}

.timetable-container{
    display: flex;
    flex-direction: column;
    flex: 1;  
    min-height: 0; 
    background-color: #D8D8D8;        
}

.lectureName-event-block{
    font-family: 'Roboto';
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; 
    font-weight: 400;
    font-size: 120%;
    color: #000000;
    overflow: auto;
    padding: 5px;
}

.props-event-block{
    font-family: 'Roboto';
    flex: 1;  
    display: flex;
    flex-direction: column; 
    font-weight: normal;
    font-size: 90%;
    color:#787878;
    overflow: auto;
    padding: 0 5px;
    line-height: 150%;
}

.moreButton-event-block {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: -8px;
    margin-right: -16px;
    display: block;
}

.header-event-block {
    display: flex;
    /*align-items: center;*/
}

.additionalFt-event-block{
    color: #000000;
}