body, html, .app-container{
    margin: 0;
    height: 100vh;
}

.app-header{
    flex: 0.05;
    margin: 0;
}

.event-blocks-container{
    overflow-y: auto;      
    flex: 1;
    background-color: #D8D8D8;
}

.app-container{    
    height: 100vh;   
    display: flex;
    flex-direction: column;
}

.main-page-container{
    flex: 1;  
    display: flex;
    flex-direction: column; 
}

.timetable-container{
    display: flex;
    flex-direction: column;
    flex: 1;  
    min-height: 0;         
}
