body, html, .app-container{
    margin: 0;
    height: 100vh;
}

.app-header{
    flex: 0.05;
    margin: 0;
}

.event-blocks-container{
    overflow: auto;    
    height: 100%;
}

.app-container{    
    height: 100vh;   
    display: flex;
    flex-direction: column;
}

.main-page-container{
    flex: 0.95;  
    display: flex;
    flex-direction: column; 
}

.timetable-container{
    flex: 1;  
    min-height: 0;      
}